#Data Loading/Reading

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("dataset_31_credit-g.csv")

In [ ]:
df

    checking_status  duration  ... foreign_worker class
0              '<0'         6  ...            yes  good
1        '0<=X<200'        48  ...            yes   bad
2     'no checking'        12  ...            yes  good
3              '<0'        42  ...            yes  good
4              '<0'        24  ...            yes   bad
..              ...       ...  ...            ...   ...
995   'no checking'        12  ...            yes  good
996            '<0'        30  ...            yes  good
997   'no checking'        12  ...            yes  good
998            '<0'        45  ...            yes   bad
999      '0<=X<200'        45  ...            yes  good

[1000 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [ ]:
df.nunique()

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [ ]:
#creating a copy of dataframe
df1=df.copy()
df2=df.copy()

#Data Preprocessing

##Using Sklearn(giving numbers to categories/label encoding the data)

In [ ]:
#LabelBinarizer converts the string categorical variable to binary 
from sklearn.preprocessing import LabelBinarizer
lb= LabelBinarizer()
df["class"]= lb.fit_transform(df["class"])
df["own_telephone"]= lb.fit_transform(df["own_telephone"])
df["foreign_worker"]= lb.fit_transform(df["foreign_worker"])

In [ ]:
df

    checking_status  duration  ... foreign_worker class
0              '<0'         6  ...              1     1
1        '0<=X<200'        48  ...              1     0
2     'no checking'        12  ...              1     1
3              '<0'        42  ...              1     1
4              '<0'        24  ...              1     0
..              ...       ...  ...            ...   ...
995   'no checking'        12  ...              1     1
996            '<0'        30  ...              1     1
997   'no checking'        12  ...              1     1
998            '<0'        45  ...              1     0
999      '0<=X<200'        45  ...              1     1

[1000 rows x 21 columns]

In [ ]:
#LabelEncoder converts the string categorical variable to numeric labels  
from sklearn.preprocessing import LabelEncoder
lb1= LabelEncoder()

In [ ]:
df["checking_status"]= lb1.fit_transform(df["checking_status"])
df["credit_history"]= lb1.fit_transform(df["credit_history"])
df["purpose"]=lb1.fit_transform(df["purpose"])
df["savings_status"]= lb1.fit_transform(df["savings_status"])
df["employment"]=lb1.fit_transform(df["employment"])
df["personal_status"]= lb1.fit_transform(df["personal_status"])
df["other_parties"]= lb1.fit_transform(df["other_parties"])
df["property_magnitude"]= lb1.fit_transform(df["property_magnitude"])
df["other_payment_plans"]= lb1.fit_transform(df["other_payment_plans"])
df["housing"]= lb1.fit_transform(df["housing"])
df["job"]= lb1.fit_transform(df["job"])

In [ ]:
df

     checking_status  duration  ...  foreign_worker  class
0                  1         6  ...               1      1
1                  0        48  ...               1      0
2                  3        12  ...               1      1
3                  1        42  ...               1      1
4                  1        24  ...               1      0
..               ...       ...  ...             ...    ...
995                3        12  ...               1      1
996                1        30  ...               1      1
997                3        12  ...               1      1
998                1        45  ...               1      0
999                0        45  ...               1      1

[1000 rows x 21 columns]

##Using Pandas(one hot encoding)

In [ ]:
#create columns based on the categories and remove the first column
df1 = df1.merge(pd.get_dummies(df1.checking_status, drop_first=True, prefix='checking_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.credit_history, drop_first=True, prefix='credit_history'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.purpose, drop_first=True, prefix='purpose'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.savings_status, drop_first=True, prefix='savings_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.employment, drop_first=True, prefix='employment'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.personal_status, drop_first=True, prefix='personal_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.other_parties, drop_first=True, prefix='other_parties'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.property_magnitude, drop_first=True, prefix='property_magnitude'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.other_payment_plans, drop_first=True, prefix='other_payment_plans'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.housing, drop_first=True, prefix='housing'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.job, drop_first=True, prefix='job'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.own_telephone, drop_first=True, prefix='own_telephone'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.foreign_worker, drop_first=True, prefix='foreign_worker'), left_index=True, right_index=True)
#df1 = df1.merge(pd.get_dummies(df1.class, drop_first=True, prefix='class'), left_index=True, right_index=True)
df1['class'] = df1['class'].replace(['good','bad'],['1','0'])

In [ ]:
#deleting the parent column used for creating categorized column.
del df1["checking_status"]
del df1["credit_history"]
del df1["purpose"]
del df1["savings_status"]
del df1["employment"]
del df1["personal_status"]
del df1["other_parties"]
del df1["property_magnitude"]
del df1["other_payment_plans"]
del df1["housing"]
del df1["job"]
del df1["own_telephone"]
del df1["foreign_worker"]

In [ ]:
#changing the order of 'class' column by copying it to a new column 
df1["class_label_Actual"]=df1["class"]

In [ ]:
del df1["class"]

In [ ]:
df1

     duration  credit_amount  ...  foreign_worker_yes  class_label_Actual
0           6           1169  ...                   1                   1
1          48           5951  ...                   1                   0
2          12           2096  ...                   1                   1
3          42           7882  ...                   1                   1
4          24           4870  ...                   1                   0
..        ...            ...  ...                 ...                 ...
995        12           1736  ...                   1                   1
996        30           3857  ...                   1                   1
997        12            804  ...                   1                   1
998        45           1845  ...                   1                   0
999        45           4576  ...                   1                   1

[1000 rows x 49 columns]

In [ ]:
#changing the type of variable from object to int.
df1['class_label_Actual']  = df1['class_label_Actual'].str.lstrip('$').astype('int')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   duration                                         1000 non-null   int64
 1   credit_amount                                    1000 non-null   int64
 2   installment_commitment                           1000 non-null   int64
 3   residence_since                                  1000 non-null   int64
 4   age                                              1000 non-null   int64
 5   existing_credits                                 1000 non-null   int64
 6   num_dependents                                   1000 non-null   int64
 7   checking_status_'<0'                             1000 non-null   uint8
 8   checking_status_'>=200'                          1000 non-null   uint8
 9   checking_status_'no checking'                    1000 non-null   uint8
 10  credit_history_'critical/other existing credit'  1000 non-null   uint8
 11  credit_history_'delayed previously'              1000 non-null   uint8
 12  credit_history_'existing paid'                   1000 non-null   uint8
 13  credit_history_'no credits/all paid'             1000 non-null   uint8
 14  purpose_'new car'                                1000 non-null   uint8
 15  purpose_'used car'                               1000 non-null   uint8
 16  purpose_business                                 1000 non-null   uint8
 17  purpose_education                                1000 non-null   uint8
 18  purpose_furniture/equipment                      1000 non-null   uint8
 19  purpose_other                                    1000 non-null   uint8
 20  purpose_radio/tv                                 1000 non-null   uint8
 21  purpose_repairs                                  1000 non-null   uint8
 22  purpose_retraining                               1000 non-null   uint8
 23  savings_status_'500<=X<1000'                     1000 non-null   uint8
 24  savings_status_'<100'                            1000 non-null   uint8
 25  savings_status_'>=1000'                          1000 non-null   uint8
 26  savings_status_'no known savings'                1000 non-null   uint8
 27  employment_'4<=X<7'                              1000 non-null   uint8
 28  employment_'<1'                                  1000 non-null   uint8
 29  employment_'>=7'                                 1000 non-null   uint8
 30  employment_unemployed                            1000 non-null   uint8
 31  personal_status_'male div/sep'                   1000 non-null   uint8
 32  personal_status_'male mar/wid'                   1000 non-null   uint8
 33  personal_status_'male single'                    1000 non-null   uint8
 34  other_parties_guarantor                          1000 non-null   uint8
 35  other_parties_none                               1000 non-null   uint8
 36  property_magnitude_'no known property'           1000 non-null   uint8
 37  property_magnitude_'real estate'                 1000 non-null   uint8
 38  property_magnitude_car                           1000 non-null   uint8
 39  other_payment_plans_none                         1000 non-null   uint8
 40  other_payment_plans_stores                       1000 non-null   uint8
 41  housing_own                                      1000 non-null   uint8
 42  housing_rent                                     1000 non-null   uint8
 43  job_'unemp/unskilled non res'                    1000 non-null   uint8
 44  job_'unskilled resident'                         1000 non-null   uint8
 45  job_skilled                                      1000 non-null   uint8
 46  own_telephone_yes                                1000 non-null   uint8
 47  foreign_worker_yes                               1000 non-null   uint8
 48  class_label_Actual                               1000 non-null   int64
dtypes: int64(8), uint8(41)
memory usage: 102.7 KB

#Splitting Data

Splitting the dataset(created using pandas i.e., after one hot encoding) into training and test samples

In [ ]:
from sklearn.model_selection import train_test_split
training_set, test_set = train_test_split(df1, test_size = 0.2, random_state = 1)

Classifying the predictors and target

In [ ]:
X_train = training_set.iloc[:,0:48].values
Y_train = training_set.iloc[:,48].values
X_test = test_set.iloc[:,0:48].values
Y_test = test_set.iloc[:,48].values

#Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import normalize

In [ ]:
# Scaling the data to bring all the attributes to a comparable level 
scaler = StandardScaler() 
X_scaled_train = scaler.fit_transform(X_train)
X_scaled_test = scaler.fit_transform(X_test) 
  
# Normalizing the data so that  
# the data approximately follows a Gaussian distribution 
X_normalized_train = normalize(X_scaled_train) 
X_normalized_test = normalize(X_scaled_test)

#Classifier 1: SVM

In [ ]:
from sklearn.svm import SVC
classifier1 = SVC(kernel='rbf', random_state = 1)
classifier1.fit(X_normalized_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
Y_pred1 = classifier1.predict(X_normalized_test)

In [ ]:
test_set["Predictions_with SVM"] = Y_pred1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
test_set

     duration  credit_amount  ...  class_label_Actual  Predictions_with SVM
507        15           6850  ...                   0                     1
818        36          15857  ...                   1                     0
452        12           2759  ...                   1                     1
368        36           3446  ...                   0                     0
242        48           4605  ...                   0                     0
..        ...            ...  ...                 ...                   ...
430         5           3448  ...                   1                     1
874        12           3590  ...                   1                     1
550        12            996  ...                   1                     1
608        18           2051  ...                   1                     1
207        12           1424  ...                   1                     1

[200 rows x 50 columns]

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print("\nAccuracy Of SVM : ", accuracy_score(Y_test,Y_pred1))

print("\nPrecision Of SVM : ", precision_score(Y_test,Y_pred1))
print("\nRecall Of SVM : ", recall_score(Y_test,Y_pred1))
print("\nF1_score Of SVM : ", f1_score(Y_test,Y_pred1))

Accuracy Of SVM :  0.765

Precision Of SVM :  0.7831325301204819

Recall Of SVM :  0.9219858156028369

F1_score Of SVM :  0.8469055374592833

In [ ]:
confusion_matrix(Y_test,Y_pred1)

array([[ 23,  36],
       [ 11, 130]])

#Classifier 2: Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier2 = RandomForestClassifier(max_depth=2, random_state=0)
classifier2.fit(X_normalized_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
Y_pred2 = classifier2.predict(X_normalized_test)

In [ ]:
test_set["Predictions_with RF"] = Y_pred2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
test_set

     duration  credit_amount  ...  Predictions_with SVM  Predictions_with RF
507        15           6850  ...                     1                    1
818        36          15857  ...                     0                    1
452        12           2759  ...                     1                    1
368        36           3446  ...                     0                    1
242        48           4605  ...                     0                    1
..        ...            ...  ...                   ...                  ...
430         5           3448  ...                     1                    1
874        12           3590  ...                     1                    1
550        12            996  ...                     1                    1
608        18           2051  ...                     1                    1
207        12           1424  ...                     1                    1

[200 rows x 51 columns]

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
print("\nAccuracy Of RF : ", accuracy_score(Y_test,Y_pred2))

print("\nPrecision Of RF : ", precision_score(Y_test,Y_pred2))
print("\nRecall Of RF : ", recall_score(Y_test,Y_pred2))
print("\nF1_score Of RF : ", f1_score(Y_test,Y_pred2))

Accuracy Of RF :  0.705

Precision Of RF :  0.705

Recall Of RF :  1.0

F1_score Of RF :  0.8269794721407624

In [ ]:
confusion_matrix(Y_test,Y_pred2)

array([[  0,  59],
       [  0, 141]])