#Data Loading/Reading

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("dataset_31_credit-g.csv")

In [3]:
df

    checking_status  duration  ... foreign_worker class
0              '<0'         6  ...            yes  good
1        '0<=X<200'        48  ...            yes   bad
2     'no checking'        12  ...            yes  good
3              '<0'        42  ...            yes  good
4              '<0'        24  ...            yes   bad
..              ...       ...  ...            ...   ...
995   'no checking'        12  ...            yes  good
996            '<0'        30  ...            yes  good
997   'no checking'        12  ...            yes  good
998            '<0'        45  ...            yes   bad
999      '0<=X<200'        45  ...            yes  good

[1000 rows x 21 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [5]:
df.nunique()

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [6]:
#creating a copy of dataframe
df1=df.copy()
df2=df.copy()

#Data Preprocessing

##Using Pandas(one hot encoding)

In [7]:
#create columns based on the categories and remove the first column
df1 = df1.merge(pd.get_dummies(df1.checking_status, drop_first=True, prefix='checking_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.credit_history, drop_first=True, prefix='credit_history'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.purpose, drop_first=True, prefix='purpose'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.savings_status, drop_first=True, prefix='savings_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.employment, drop_first=True, prefix='employment'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.personal_status, drop_first=True, prefix='personal_status'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.other_parties, drop_first=True, prefix='other_parties'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.property_magnitude, drop_first=True, prefix='property_magnitude'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.other_payment_plans, drop_first=True, prefix='other_payment_plans'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.housing, drop_first=True, prefix='housing'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.job, drop_first=True, prefix='job'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.own_telephone, drop_first=True, prefix='own_telephone'), left_index=True, right_index=True)
df1 = df1.merge(pd.get_dummies(df1.foreign_worker, drop_first=True, prefix='foreign_worker'), left_index=True, right_index=True)
#df1 = df1.merge(pd.get_dummies(df1.class, drop_first=True, prefix='class'), left_index=True, right_index=True)
df1['class'] = df1['class'].replace(['good','bad'],['1','0'])

In [8]:
#deleting the parent column used for creating categorized column.
del df1["checking_status"]
del df1["credit_history"]
del df1["purpose"]
del df1["savings_status"]
del df1["employment"]
del df1["personal_status"]
del df1["other_parties"]
del df1["property_magnitude"]
del df1["other_payment_plans"]
del df1["housing"]
del df1["job"]
del df1["own_telephone"]
del df1["foreign_worker"]

In [9]:
#changing the order of 'class' column by copying it to a new column  
df1["class_label_Actual"]=df1["class"]

In [10]:
del df1["class"]

In [11]:
df1

     duration  credit_amount  ...  foreign_worker_yes  class_label_Actual
0           6           1169  ...                   1                   1
1          48           5951  ...                   1                   0
2          12           2096  ...                   1                   1
3          42           7882  ...                   1                   1
4          24           4870  ...                   1                   0
..        ...            ...  ...                 ...                 ...
995        12           1736  ...                   1                   1
996        30           3857  ...                   1                   1
997        12            804  ...                   1                   1
998        45           1845  ...                   1                   0
999        45           4576  ...                   1                   1

[1000 rows x 49 columns]

In [12]:
#changing the type of variable from object to int.
df1['class_label_Actual']  = df1['class_label_Actual'].str.lstrip('$').astype('int')

#Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import normalize

In [14]:
#differentiating the label column from other columns to apply scaling
X = df1.iloc[:,0:48].values
actual_label=df1.iloc[:,48].values

In [15]:

# Scaling the data to bring all the attributes to a comparable level 
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X) 
  
# Normalizing the data so that  
# the data approximately follows a Gaussian distribution 
X_normalized = normalize(X_scaled) 
  
# Converting the numpy array into a pandas DataFrame 
X_normalized = pd.DataFrame(X_normalized)

Reducing the dimensionality of the data

In [16]:
from sklearn.decomposition import PCA 
pca = PCA(n_components = 2) 
X_principal = pca.fit_transform(X_normalized) 
X_principal = pd.DataFrame(X_principal) 
X_principal.columns = ['P1', 'P2'] 
print(X_principal.head())

         P1        P2
0  0.419286  0.275899
1 -0.381750  0.107545
2  0.158951  0.233480
3 -0.104281 -0.354203
4  0.269373 -0.359112

#Building the clustering model

In [17]:
from sklearn.cluster import DBSCAN

In [18]:
# Numpy array of all the cluster labels assigned to each data point 
db_default = DBSCAN(eps = 0.065, min_samples = 3).fit(X_principal) 
pred_labels = db_default.labels_

In [19]:
import numpy as np
 
# function to get unique label values(get all clusters)
def unique(list1):
    x = np.array(list1)
    print(np.unique(x))
unique(pred_labels)

[-1  0  1  2  3  4  5]

In [20]:
#Predicted Labels
pred_labels

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1, -1,  0,  0,  0,  0,  5,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
       -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,
        3,  0,  0,  0,  0,  3,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,
        0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0, -1,
        0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  3,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  5,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,
        0,  0,  0,  0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0])

#Clustering Performance Evaluations

In [21]:
from sklearn.metrics.cluster import homogeneity_score,completeness_score,v_measure_score

In [22]:
print("\nHomogeneity score : ", homogeneity_score(actual_label,pred_labels))
print("\nCompleteness score : ", completeness_score(actual_label,pred_labels))
print("\nV-measure score : ", v_measure_score(actual_label,pred_labels))

Homogeneity score :  0.018023986665695928

Completeness score :  0.03783409567061084

V-measure score :  0.024416206477339702